/**=====================
      Tables CSS Start
==========================**/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 6px;

    &:empty {
        display: none;
    }

    .page-item {
        border-radius: 4px;
        overflow: hidden;

        &[aria-label="« Previous"],
        &[aria-label="Next »"] {

            a,
            span {
                position: relative;
                font-size: 0;
                color: transparent;

                &::before {
                    color: rgba(23, 28, 38, 0.8);
                    font-size: 18px;
                    line-height: 1;
                    font-family: remixicon;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &[aria-label="Next »"] {

            a,
            span {
                &::before {
                    content: "\ea6e";
                }
            }
        }

        &[aria-label="« Previous"] {

            a,
            span {
                &::before {
                    content: "\ea64";
                }
            }
        }

        .page-link {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: none;
            margin: 0 !important;
            font-size: 14px;
            background-color: transparent;
            color: rgba($dark-color, 0.8);
            line-height: 1;

            &[rel="next"],
            &[rel="prev"] {
                position: relative;
                font-size: 0;
                color: transparent;

                &::before {
                    color: rgba(23, 28, 38, 0.8);
                    font-size: 18px;
                    line-height: 1;
                    font-family: remixicon;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &[rel="next"] {
                &::before {
                    content: "\ea6e";
                }
            }

            &[rel="prev"] {
                &::before {
                    content: "\ea64";
                }
            }
        }

        &:first-child,
        &:last-child {
            .page-link {
                font-size: 30px;
                font-weight: 300;
                line-height: 1;
            }
        }

        &:last-child {
            .page-link {
                padding-left: 2px;
            }
        }

        &.active {
            background-color: $primary-color;
            border-color: $primary-color;

            .page-link {
                color: $white;
                z-index: 0;
            }

            &:hover {
                background-color: $primary-color;
                border-color: $primary-color;

                .page-link {
                    color: $white;
                }
            }
        }

        &:hover {
            background-color: rgba($primary-color, 0.1);
            border-color: rgba($primary-color, 0.1);
        }
    }
}

/**=====================
      Tables CSS Start
==========================**/